.button {
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  transition: all 0.1s;
  cursor: pointer;
  margin: 15px 5px;
  padding: 10px 16px 9px;
  outline: none;
  transform: translateZ(0);
  text-transform: uppercase;
}

.button.show-more,
.button.show-less {
  background: linear-gradient(20deg, rgb(29, 90, 185), rgb(29, 90, 185));
  border: 1px solid rgb(29, 90, 185);
}

.button.collapse-all {
  background: linear-gradient(20deg, #318ff5, #318ff5);
  border: 1px solid #318ff5;
}
